<footer class="footerFour"><!--Footer Four-->
  <div class="footerLogo grid">
    <img src="http://d1qmdf3vop2l07.cloudfront.net/violet-pipe.cloudvent.net/compressed/3c1944140416055c4830427d092e8256.svg" class="logofoot" alt="institute of code logo">
  </div>
  <div class="FooterSocial">
    <nav class="grid-spaceAround">
      <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
      <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
      <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
      <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
    </nav>
  </div>
  <div class="footerLinks">
    <nav class="grid-spaceAround">
      <a href="#">Home</a>
      <a href="#">About</a>
      <a href="#">Portfolio</a>
      <a href="#">Contact</a>
    </nav>
  </div>
</footer>
