<section class="grid gallery">
  <div class="col-4">
    <div class="pic hidden-text">
      <p>pictures name</p>
    </div>
  </div>
  <div class="col-4">
    <div class="pic hidden-text">
      <p>pictures name</p>
    </div>
  </div>
  <div class="col-4">
    <div class="pic hidden-text">
      <p>pictures name</p>
    </div>
  </div>
  <div class="col-4">
    <div class="pic hidden-text">
      <p>pictures name</p>
    </div>
  </div>
    <div class="col-4">
    <div class="pic hidden-text">
      <p>pictures name</p>
    </div>
  </div>
  <div class="col-4">
    <div class="pic hidden-text">
      <p>pictures name</p>
    </div>
  </div>
</section>
