<header class="headerFive"><!--FifthHeader-->
  <nav class="social grid">
    <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
    <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
    <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
  </nav>
  <nav class="navlinks grid-spaceBetween">
    <div class="logo col-6">
        <img src="http://d1qmdf3vop2l07.cloudfront.net/violet-pipe.cloudvent.net/compressed/3c1944140416055c4830427d092e8256.svg" alt="institute of code logo">
    </div>
    <div class="links grid col-6">
      <a href="#">Home</a>
      <a href="#">About</a>
      <a href="#">Portfolio</a>
      <a href="#">Contact</a>
    </div>
  </nav>
</header>
