<section class="grid">
  <div class="col-4 grid">
    <p class="borderd col-12">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dol</p>
    <div class="grid">
      <img class="col-4" src="https://unsplash.it/100/100/?random" alt="">
      <p class="col-8">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commod</p>
    </div>
  </div>
  <div class="col-4 grid">
    <p class="borderd col-12">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dol</p>
    <div class="grid">
      <img class="col-4" src="https://unsplash.it/100/100/?random" alt="">
      <p class="col-8">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commod</p>
    </div>
  </div>
  <div class="col-4 grid">
    <p class="borderd col-12">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dol</p>
    <div class="grid">
      <img class="col-4" src="https://unsplash.it/100/100/?random" alt="">
      <p class="col-8">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commod</p>
    </div>
  </div>
</section>
